{% extends "formsapp/base.html" %}
{% block content %}

   <h1>Venue:</h1>

    <h2>{{ venue }}</h2>
    <br/>
   
    <div class="card">
        <div class="card-header">
            Venue
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ venue }}</h5>
          <p class="card-text">
            <ul>
            <li>{{ venue.address }}</li>
            <li>{{ venue.zip_code }}</li>
            <li>{{ venue.phone }}</li>
            <li><a href="{{ venue.web }}">{{ venue.web }}</a></li>
            <li><a href="{{ venue.email_address }}"> {{ venue.email_address }} </a></li>    
          </ul>        
            </p>
        </div>
      </div> 

    

{% endblock content %}