{% extends "formsapp/base.html" %}
{% block content %}

   <h1>Venue:</h1>

    <h2>{{ venue }}</h2>
    <br/>
   
    <div class="card">
        <div class="card-header">
            Venue
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ venue }}</h5>
          <p class="card-text">
              <ul>
              {% if venue.address %}
                <li>{{ venue.address }}</li>
              {% endif %}
            
            {% if venue.zip_code %}
              <li>{{ venue.zip_code }}</li>
            {% endif %}
           
            {% if venue.phone %}
              <li>{{ venue.phone }}</li>
            {% endif %}
            
            {% if venue.web %}
              <li><a href="{{ venue.web }}">{{ venue.web }}</a></li>
            {% endif %}            
              
            {% if venue.email_address %}
              <li>{{ venue.email_address }}"</li>
            {% endif %}
            {% if venue.owner %}
              <li>Owner ID: {{ venue_owner }}</li>     
            {% endif %}       
              </ul>        
            </p>
        </div>
      </div> 

    

{% endblock content %}