{% extends "formsapp/base.html" %}
{% block content %}

{% if user.is_authenticated %}
    {% if user == event.manager %}
    
   

    <h1>Update Event...</h1>
    
    <form action="" method=POST>
        {% csrf_token %}

    
    {{ form.as_p }}
    <br/>
    <input type="submit" value="Update"
    class="btn btn-secondary">
</form>
{% else %}
<h1>Access Denied</h1>
<p>Only the event's Manager can update this event...</p>
    Logged In User: {{ user }}
    <br/>
    Event Manager: {{ event.manager }}
    {% endif %}
{% else %}
            <h1>Sorry! You must be logged in to view this page...</h1>
            <a href="{% url "login" %}">Login Here</a>
            {% endif %}
{% endblock content %}